.about {
  margin: 15rem 0 15rem;

  &__content {
    padding: 1rem 10rem;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-content: center;
  }
  &__paragraph {
    max-width: 56rem;
    text-align: left;
    font-size: 2.4rem;
    color: $color-secondary-blue-dark;
    line-height: 1.4;
    margin-bottom: 7rem;
  }

  &__cta {
    font-size: 1.6rem;
    font-weight: 200;
    color: rgba(34, 53, 111, 0.5);
    text-transform: uppercase;
    line-height: 1.8;
    text-align: center;
  }

  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 25%;
    font-size: 3.2rem;
    color: #fff;
    font-weight: 700;
    min-height: 36rem;
    position: relative;

    &::after {
      @include customBlockPoint;
    }

    &::before {
      @include customBlockLine;
    }

    &--pink {
      background-color: $color-pink;
    }

    &--lightgreen {
      background-color: $color-green-light;
    }

    &--lightblue {
      background-color: $color-main-blue;
    }
    &--darkblue {
      background-color: $color-tertiary-blue-light;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    width: 103rem;
  }
}

@media screen and (max-width: 578px) {
  .about {
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__paragraph,
    &__heading,
    &__cta {
      width: 60rem;
      font-size: 3rem;
      margin-top: 5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    &__container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      flex: 0 1 50%;
      flex-wrap: wrap;
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .about {
    &__container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      flex: 0 1 100%;
      font-size: 4.6rem;
      &::after {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .about {
    &__container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      margin-left: -5rem;
      flex: 0 1 100%;
      flex-wrap: wrap;
    }
  }
}
