///basic sizes and functionality
.btn {
  display: inline-block;
  width: 15rem;
  height: 5rem;
  border: none;
  border-radius: 50px;

  &--transparent {
    background-color: transparent;
    color: $color-main-blue;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.3s;

    &:hover {
      background-color: $color-main-white;
      width: 20rem;
    }
  }
}

///btn orange in intro sec and contact sec
.btn--orange {
  display: block;
  width: 15rem;
  height: 5rem;
  background-color: $color-orange;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  transition: all 0.4s ease-out;

  &:hover {
    border: none;
    color: $color-orange;
    background-color: transparent;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.6rem;
    &:hover {
      width: 20rem;
    }
  }
}
