.btn {
  padding: 1.2rem 4rem;
  background-color: $color-main-blue;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  transition: all 0.2s;

  &:hover {
    background-color: #fff;
    color: $color-main-blue;
  }
}

.intro__button--orange {
  display: block;
  background-color: $color-orange;
  width: 15rem;
  height: 5rem;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    border: none;
    color: $color-orange;
    background-color: transparent;
    font-weight: 600;
  }
}
