.contact {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    overflow: hidden;
    max-height: 80rem;
  }

  &__heading {
    display: block;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: $color-secondary-blue-dark;
    text-transform: uppercase;

    &--white {
      color: #fff;
    }
  }

  &__link {
    color: $color-main-white;
    display: inline-block;
    width: 15rem;
  }

  &__link:active,
  &__link:hover {
    color: $color-orange;
  }
  &__img {
    width: auto;
  }

  &__text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    &--blue {
      display: flex;
      justify-content: space-between;
      background-color: $color-secondary-blue-dark;
    }
  }

  &__paragraph {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.7;
    color: $color-secondary-blue-dark;

    &--white {
      color: #fff;
      font-weight: 300;
      letter-spacing: 1.5px;
    }
  }
  &__bold--blue {
    color: $color-main-blue;
  }

  &__bold--white {
    color: #fff;
    font-size: 6.4rem;
  }

  &__btn {
    width: 17rem;
    height: 5rem;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    color: $color-orange;
    font-size: 16px;
    letter-spacing: 0.2px;
    transition: all ease 0.3s;

    &:hover {
      background-color: $color-orange;
      color: #fff;
      border-radius: 50px;
      width: 20rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    &__paragraph {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    &__content--blue {
      display: flex;
      flex-direction: column-reverse;
    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5rem 2rem;
      text-align: center;
    }
    &__heading--white {
      font-size: 1.8rem;
    }
    &__bold--white {
      margin: 2rem 0;
      font-size: 3rem;
    }
    &__img {
      object-fit: cover;
      max-height: 30rem;
    }
    &__link {
      width: 22rem;
    }
    &__paragraph {
      font-size: 1.8rem;
      margin: 2rem 0;
    }
    &__heading,
    &__bold {
      font-size: 2rem;
    }
  }
}
