.explanation {
  height: 60rem;
  background-color: $color-main-blue;

  &__container {
    display: flex;
    flex: 0 0 70%;
    justify-content: space-between;
  }

  &__content {
    padding: 17.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__paragraph {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.4;
  }

  &--bold {
    font-weight: 500;
  }

  &__img {
    max-width: 52rem;
    height: 100%;
  }
}
