.explanation {
  background-color: $color-main-blue;
  width: 100%;
  &__heading {
    align-self: flex-start;
    margin-bottom: 4rem;
  }
  &__container {
    width: 100%;
    display: flex;
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 5rem;
  }

  &__paragraph {
    font-size: 2.4rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.8;
    text-align: left;
  }

  &--bold {
    font-weight: 500;
    display: inline-block;
  }

  &__img {
    min-height: 100%;
    flex: 1 0 50rem;
  }
}

@media screen and (max-width: 1105px) {
  .explanation {
    width: 100%;
    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__content {
      padding: 5rem;
    }
    &__img {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 768px) {
  .explanation {
    &__heading {
      font-size: 3.2rem;
    }
    &__content {
      text-align: center;
    }
    &__paragraph,
    &--bold {
      font-size: 1.8rem;
    }
    &__img {
      object-position: left;
    }
  }
}
