.intro {
  background-color: $color-intro;
  height: auto;
  max-width: 144rem;
  margin: 0 auto;

  &__button {
    width: 34rem;
    display: flex;
    justify-content: space-between;
  }

  &__section {
    padding: 0 10rem;
    width: 100%;
    background-color: $color-intro;
    display: flex;

    &--heading {
      color: $color-secondary-blue-dark;
      font-weight: 400;
      font-size: 4.8rem;
      line-height: 5.2rem;
      display: block;
    }
    &--content {
      margin-right: 18rem;
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    &--paragraph {
      margin-top: 6rem;
      font-size: 2.4rem;
      line-height: 1.2;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: $color-secondary-blue-dark;
      margin-bottom: 6.3rem;
    }
    &--img {
      display: block;
      width: 52rem;
      height: auto;
      clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    }
  }
}

@media screen and (max-width: 920px) {
  .intro__section {
    background-color: $color-intro;
    display: flex;
    flex-direction: column-reverse;
    &--heading {
      text-align: center;
    }
    &--img {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .intro__button {
    width: 280%;
    display: flex;
  }
  .intro__section {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 20rem;

    &--heading {
      width: 250%;
      font-weight: 400;
      font-size: 4.2rem;
    }

    &--paragraph {
      width: 250%;
      text-align: center;
      font-size: 2.7rem;
    }
  }
}
