.suggestions {
  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33.3333%;
    font-size: 3.2rem;
    color: #fff;
    font-weight: 700;
    min-height: 48rem;
    position: relative;

    &::after {
      @include customBlockPoint;
    }

    &::before {
      @include customBlockLine;
    }

    &--darkblue {
      background-color: $color-secondary-blue-dark;
    }

    &--lightblue {
      background-color: $color-tertiary-blue-light;
    }

    &--orange {
      background-color: $color-green-light;
    }

    &--aqua {
      background-color: $color-main-blue;
    }

    &--purple {
      background-color: $color-purple;
    }
    &--violet {
      background-color: $color-violet;
    }
  }

  &__content {
    margin: 10rem 5rem 5rem;
    display: flex;
    flex-wrap: wrap;
  }

  &__box {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }
  &__heading {
    color: $color-secondary-blue-dark;
    font-size: 2.8rem;
    line-height: 1.7;
    font-weight: 400;
    text-align: center;
  }

  &__paragraph {
    font-size: 1.8rem;
    color: rgba(34, 53, 111, 0.5);
    font-weight: 300;
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .suggestions {
    &__container {
      display: flex;
      width: 145rem;
      flex-wrap: wrap;
    }
    &__item {
      flex: 0 1 50%;
    }

    &__heading {
      font-size: 3rem;
    }
    &__content {
      width: 140rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__paragraph {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 768px) {
  .suggestions {
    &__container {
      display: flex;
      width: 103rem;
      flex-wrap: wrap;
    }
    &__item {
      flex: 0 1 50%;
      font-size: 4rem;
      &::after {
        width: 50%;
      }
    }
    &__content {
      width: 90rem;
      display: flex;
      flex-wrap: wrap;
    }
    &__box {
      flex: 0 1 50%;
    }
  }
}

@media screen and (max-width: 530px) {
  .suggestions {
    &__container {
      width: 103rem;
    }
    &__content {
      width: 90rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 5rem 10rem;
    }

    &__heading {
      font-size: 5rem;
    }
    &__box {
      flex: 0 0 100%;
      padding: 0;
      margin-top: 5rem;
    }

    &__paragraph {
      font-size: 3.5rem;
    }
  }
}

@media screen and (max-width: 376px) {
  .suggestions {
    &__container {
      width: 94rem;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      width: 68rem;
      font-size: 4rem;
    }
    &__item {
      flex: 0 1 100%;
    }
    &__paragraph {
      padding: 6rem 10rem;
    }
  }
}
