.suggestions {
  &__section {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33.3333%;
    font-size: 3.2rem;
    color: #fff;
    font-weight: 700;
    min-height: 48rem;
    position: relative;
    &::after {
      @include customBlockPoint;
    }

    &::before {
      @include customBlockLine;
    }

    &--darkblue {
      background-color: $color-secondary-blue-dark;
    }

    &--lightblue {
      background-color: $color-tertiary-blue-light;
    }

    &--orange {
      background-color: $color-green-light;
    }

    &--aqua {
      background-color: $color-main-blue;
    }

    &--purple {
      background-color: $color-purple;
    }
    &--violet {
      background-color: $color-violet;
    }
  }

  &__link,
  &__link:link {
    color: #fff;
  }

  &__content {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
  }

  &__box {
    padding: 3rem 0;
    flex: 1 0 32%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }
  &__heading {
    color: $color-secondary-blue-dark;
    font-size: 2.8rem;
    line-height: 1.7;
    font-weight: 400;
    text-align: center;
  }

  &__paragraph {
    font-size: 1.8rem;
    color: rgba(34, 53, 111, 0.5);
    font-weight: 300;
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .suggestions {
    &__heading {
      font-size: 2rem;
    }
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__paragraph {
      font-size: 2rem;
      font-weight: 300;
    }
    &__item {
      flex: 0 1 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  .suggestions {
    &__item {
      font-size: 2.4rem;
      min-height: 36rem;
      font-weight: 500;
      &::after {
        width: 50%;
      }
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
    }
    &__box {
      flex: 0 1 49%;
    }
  }
}

@media screen and (max-width: 476px) {
  .suggestions {
    width: 100%;
    &__section {
      display: flex;
    }
    &__item {
      flex: 1 0 100%;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__box {
      flex: 0 0 100%;
      padding: 0;
      margin-top: 5rem;
    }

    &__paragraph {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 376px) {
  .suggestions {
    &__content {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      flex: 0 1 100%;
    }
  }
}
