.heading {
  color: $color-main-blue;
  font-size: 2.4rem;
}

.heading__secondary {
  font-size: 4rem;
  color: #fff;
  line-height: 2.7rem;
}

.heading__tertiary {
  font-size: 1.6rem;
  line-height: 23px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-secondary-blue-dark;
}

///supporting classes
.margin-small {
  margin-bottom: 4rem;
}
