///COLORS
$color-intro: #f4f9e2;
$color-main-blue: #62d0df;
$color-secondary-blue-dark: #22356f;
$color-tertiary-blue-light: #0052c1;
$color-orange: #fab63e;
$color-orange-light: #f9b730;
$color-pink: #ffe2de;
$color-green-light: #c4e769;
$color-purple: #dee1ff;
$color-violet: #8f00ff;
